<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jee4a.common.mapper.order.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jee4a.common.model.TOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="order_state" property="orderState" jdbcType="TINYINT" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, product_id, order_state, pay_way, pay_time, amount, description, creator, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jee4a.common.model.TOrder" >
    insert into t_order (id, order_no, product_id, 
      order_state, pay_way, pay_time, 
      amount, description, creator, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{orderState,jdbcType=TINYINT}, #{payWay,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{amount,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
   <insert id="insertBatch" parameterType="java.util.List" >
    insert into t_order (order_no, product_id, 
      order_state, pay_way, pay_time, 
      amount, description, creator, 
      create_time)
    values
   <foreach collection="list" item="item" index="index" separator=",">
    (#{item.orderNo,jdbcType=VARCHAR}, #{item.productId,jdbcType=INTEGER}, 
      #{item.orderState,jdbcType=TINYINT}, #{item.payWay,jdbcType=VARCHAR}, #{item.payTime,jdbcType=TIMESTAMP}, 
      #{item.amount,jdbcType=DECIMAL}, #{item.description,jdbcType=VARCHAR}, #{item.creator,jdbcType=INTEGER}, 
      #{item.createTime,jdbcType=TIMESTAMP})
   </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.jee4a.common.model.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jee4a.common.model.TOrder" >
    update t_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jee4a.common.model.TOrder" >
    update t_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=TINYINT},
      pay_way = #{payWay,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=DECIMAL},
      description = #{description,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>